:host {
  width: 100%;
}
.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.error > * {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}
